<footer>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col size="12" size-md="6" class="title" [routerLink]="'/'">
        <h4>{{ year }} - Portfolio Rodrigo Portillo</h4>
        <p>
          All trademarks, logos, and trade names displayed on this site are the
          property of their respective owners.
          <a
            href="https://github.com/velhobit/Ionic-Support-for-WordPress/tree/portfolio"
            target="_blank"
            rel="noopener noreferrer"
          >
            <i class="fab fa-github" aria-hidden="true"></i> Grab the source
            code of this site on GitHub
          </a>
        </p>
      </ion-col>
      <ion-col size="12" size-md="6">
        <ul>
          @for (s of social; track s) {
            <li>
              <a
                [href]="s.url"
                target="_blank"
                rel="noopener noreferrer"
                [attr.aria-label]="s.name"
              >
                <i [attr.class]="s.icon" aria-hidden="true"></i>
                <span>{{ s.name }}</span>
              </a>
            </li>
          }
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>
</footer>
