<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-grid fixed="true">
      <ion-row>
        <!-- Logo / Home -->
        <ion-col
          size="auto"
          class="title"
          routerLink="/"
          role="link"
          tabindex="0"
          aria-label="Go to homepage"
          (click)="default = 'home'"
        >
          <img
            [src]="
              isDarkMode
                ? 'assets/main-icon-inverse.webp'
                : 'assets/main-icon.webp'
            "
            alt="VelhoBit"
          />
          <h1 class="os">{{ symbol }}</h1>
        </ion-col>

        <!-- Menu -->
        <ion-col class="ion-hide-lg-down">
          <ion-segment
            role="navigation"
            aria-label="Main navigation"
            [value]="default"
            (ionChange)="default = null"
          >
            <ion-segment-button
              value="home"
              routerLink="/"
              class="sr-only"
              aria-hidden="true"
              tabindex="-1"
            ></ion-segment-button>
            <ng-template ngFor let-item [ngForOf]="mainMenu?.items">
              <ion-segment-button
                [value]="item.name"
                [routerLink]="item.url"
                [attr.aria-label]="item.title"
              >
                <ion-label>{{ item.title }}</ion-label>
              </ion-segment-button>
            </ng-template>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
