.post {
  max-width: 640px;

  h1 {
    font-size: 2.2rem;
  }

  time {
    display: block;
  }

  .categories {
    margin: 0.86rem 0;
  }

  .content {
    ::ng-deep {
      h2 {
        font-size: 1.21rem;
        margin-top: 1.68em;
      }
      h3 {
        font-size: 1.1rem;
      }

      p {
        font-size: 0.96rem;
        line-height: 1.42rem;
        font-weight: 400;
        letter-spacing: -0.016em;
        margin: 0;
        margin-bottom: 0.5em;
      }
      img,
      figure {
        width: 100vw;
        max-width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        height: auto;
        display: block;
      }

      figure {
        margin-bottom: 1em;
      }

      .videoWrapper,
      .wp-block-embed-youtube .wp-block-embed__wrapper {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 25px;
        height: 0;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
