<ion-tabs>
  <ion-tab-bar mode="ios" translucent="true" slot="bottom" class="ion-hide-lg-up">
    <ion-tab-button tab="home" href="/">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories" href="/categories">
      <ion-icon aria-hidden="true" name="apps"></ion-icon>
      <ion-label>Categorias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="social" href="/social">
      <ion-icon aria-hidden="true" name="sparkles"></ion-icon>
      <ion-label>Social</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
