<ion-content mode="ios" [fullscreen]="true">
  <ion-grid fixed="true">
    <ion-row>
      <ion-col class="ion-padding-start">
        <h2 class="ion-no-margin">Social Media</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <nav aria-label="Social media links">
          <ion-list *ngIf="social?.length" inset="true" lines="full">
            @for (item of social; track item) {
            <ion-item
              [href]="item.url"
              target="_blank"
              rel="noopener noreferrer"
              button
              detail="true"
              [attr.aria-label]="item.name"
            >
              <i [attr.class]="item.icon" slot="start" aria-hidden="true"></i>

              <ion-label>{{ item.name }}</ion-label>
            </ion-item>
            }
          </ion-list>
        </nav>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
