<ion-content mode="ios" [fullscreen]="true">
  <ion-grid fixed="true" role="main">
    <ion-row>
      <!-- Banner -->
      <ion-col size="12" class="ion-no-padding banners">
        <header>
          <ion-img
            src="/assets/velhobit-portfolio.jpg"
            alt="Portfolio of Rodrigo Portillo"
          ></ion-img>

          <div class="content">
            <h1>
              Portfolio<br />
              <span>Rodrigo Portillo</span>
            </h1>
          </div>
        </header>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="ion-padding">
        <section aria-labelledby="about-title">
          <h2 id="about-title" class="about-me">
            I design and build digital products end to end. With 20 years of
            experience across UX, design, frontend, backend, and infrastructure,
            I focus on transforming real problems into functional, elegant
            solutions. My background in fine arts and software development lets
            me bridge aesthetics and engineering with ease.
          </h2>
        </section>
      </ion-col>
    </ion-row>

    <!-- Loading state -->
    <ion-row *ngIf="loading" aria-busy="true">
      <ion-col
        class="ion-padding flex-vertical"
        size="6"
        size-md="6"
        size-lg="4"
      >
        <ion-card class="ion-no-margin flex-vertical" aria-hidden="true">
          <ion-card-content class="thumbnail ion-no-margin">
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%; height: 100px"
            ></ion-skeleton-text>
          </ion-card-content>

          <ion-card-header>
            <ion-skeleton-text
              [animated]="true"
              style="width: 50%; height: 1em"
            ></ion-skeleton-text>
            <ion-skeleton-text
              [animated]="true"
              style="width: 100%; height: 1em"
            ></ion-skeleton-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- Posts -->
    <ion-row *ngIf="!loading">
      <ion-col
        class="ion-padding flex-vertical"
        size="12"
        size-md="6"
        size-lg="4"
        *ngFor="let post of posts"
      >
        <article>
          <ion-card
            class="ion-no-margin flex-vertical"
            [routerLink]="[
              '/post',
              post?.categories[0]?.slug,
              post?.slug
            ]"
            role="link"
            tabindex="0"
            [attr.aria-label]="'Open post: ' + post?.title"
          >
            <ion-card-content class="thumbnail ion-no-margin">
              <img
                *ngIf="post?.thumbnail?.url?.length"
                [src]="post.thumbnail.url"
                [alt]="post.title"
              />
            </ion-card-content>

            <ion-card-header *ngIf="post?.categories">
              <div>
                @for (cat of post.categories; track cat) {
                <ion-chip
                  color="primary"
                  [routerLink]="['/category', cat.slug]"
                  clickable
                  [attr.aria-label]="'Category: ' + cat.name"
                >
                  {{ cat.name }}
                </ion-chip>
                }
              </div>

              <ion-card-title [innerHTML]="post.title"></ion-card-title>
            </ion-card-header>
          </ion-card>
        </article>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-footer></app-footer>
</ion-content>
